{% extends "base.html" %}
{% set title = "Timecard" %}
{% set description = title %}
{% set domain = "timecard-gae.appspot.com" %}
{% set fb_app_id = "timecard-gae" %}
{% block head %}
%script(src="/static/js/sample{% if not DEBUG %}.min{% endif %}.js")
{% endblock head %}
{% block main %}
%nav.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{"data-no-turbolink" => "1", :href => "/"} Timecard
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        {% if is_signin %}
        %li
          %a
            %span.text-muted Projects
        %li
          %a
            %span.text-muted Me
        %li
          %a(href="/settings") Account settings
        %li
          %a
            %span.text-muted Import
        %li
          %a(href="/oauth/signout") Logout
        {% else %}
        %li
          %a(href="/oauth/google") Login
        {% endif %}
{% block content %}
{% if not is_signin %}
.container
  .row
    .col-lg-12.col-md-12
      %h2 Sign in
      %a.btn.btn-primary(href="/oauth/google") Sign in with Google
      %a.btn.btn-default.disabled(href="/oauth/github") Sign in with Github
      %a.btn.btn-default.disabled(href="/oauth/ruffnote") Sign in with Ruffnote
{% endif %}
{% endblock content %}
{% endblock main %}
