{% extends "base.html" %}
{% set title = "Timecard" %}
{% set description = title %}
{% set domain = "timecard-gae.appspot.com" %}
{% set fb_app_id = "timecard-gae" %}
{% block head %}
-#%script(src="/static/js/sample{% if not DEBUG %}.min{% endif %}.js")
{% endblock head %}
{% block main %}
%nav.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{"data-no-turbolink" => "1", :href => "/"} Timecard
    {% block nav %}{% endblock nav %}
{% block content %}{% endblock content %}
{% endblock main %}
