{% extends "base_timecard.html" %}
{% block content %}
{% if not is_signin %}
.container
  .row
    .col-lg-12.col-md-12
      %h2 Sign in
      %a.btn.btn-primary(href="/oauth/google") Sign in with Google
      %a.btn.btn-default.disabled(href="/oauth/github") Sign in with Github
      %a.btn.btn-default.disabled(href="/oauth/ruffnote") Sign in with Ruffnote
{% endif %}
{% endblock content %}
