{% extends "base_timecard_with_session.html" %}
{% block content %}
.container
  .row
    .col-lg-12.col-md-12
      %h2 {{ _("Edit User") }}
      %form#edit_user.edit_user{"accept-charset" => "UTF-8", :method => "post"}
        .form-group
          %label{:for => "name"} {{ _("Name") }}
          %br/
          %input#user_name.form-control{:name => "name", :type => "text", :value => "{{ user.name }}"}/
        %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Update"}/
      %h2 {{ _("Service") }}
      %dl
        %dt
          %b Github
        %dd
          %a.btn.btn-default.disabled(href="{{ USERS.create_login_url('github') }}") {{ _("Sign in with Github") }}
        %dt
          %b Ruffnote
        %dd
          %a.btn.btn-default.disabled(href="{{ USERS.create_login_url('ruffnote') }}") {{ _("Sign in with Ruffnote") }}
      %h3 {{ _("Cancel my account") }}
      %p {{ _("Unhappy?") }}
      %form.button_to{:action => "/users", :method => "post"}
        %input.btn.btn-danger.disabled{"data-confirm" => "Are you sure?", :type => "submit", :value => "{{ _('Cancel my account') }}"}/
{% endblock content %}
