!!!
%html
  %head
    %title Timecard
    %link{"data-turbolinks-track" => "true", :href => "/assets/application-706e464560141d994d170172dff2ba77.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "true", :src => "/assets/application-19e9ff8b59106d365dc36fb186dc633c.js"}
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "r9VG5mY24ByPWzy0s6coj7BrjgffFHPVsL300WGV/K4=", :name => "csrf-token"}/
  %body.sessions{"data-timer" => ""}
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{"data-no-turbolink" => "1", :href => "/"} Timecard
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "/users/sign_in"} Login
    .container
      .row
        .col-lg-12.col-md-12
          #running-users
          %h2 Sign in
          %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post"}
            %div{:style => "margin:0;padding:0;display:inline"}
              %input{:name => "utf8", :type => "hidden", :value => "\342\234\223"}/
              %input{:name => "authenticity_token", :type => "hidden", :value => "r9VG5mY24ByPWzy0s6coj7BrjgffFHPVsL300WGV/K4="}/
            .form-group
              %label{:for => "user_email"} Email
              %br/
              %input#user_email.form-control{:autofocus => "autofocus", :name => "user[email]", :type => "email", :value => ""}/
            .form-group
              %label{:for => "user_password"} Password
              %br/
              %input#user_password.form-control{:name => "user[password]", :type => "password"}/
            .checkbox
              %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}/
              %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1"}/
              %label{:for => "user_remember_me"} Remember me
            %div
              %input.btn.btn-default{:name => "commit", :type => "submit", :value => "Sign in"}/
          %a{:href => "/users/sign_up"} Sign up
          %br/
          %a{:href => "/users/password/new"} Forgot your password?
          %br/
          %a{:href => "/users/auth/github"} Sign in with Github
          %br/
          %a{:href => "/users/auth/ruffnote"} Sign in with Ruffnote
          %br/
